<footer>
    <div class="footer pt-5">
        <div class="container">
            <div class="row footer-text">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <p>&copy; 2023 TongDangTu.</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 text-end">
                    <a href="" class="footer-text">Chính sách bảo mật</a> | 
                    <a href="" class="footer-text">Điều khoản sử dụng</a>
                </div>
            </div>
        </div>
    </div>
</footer>