@import "../../../styles.scss";

header {
    color: #fff;
    width: 100%;
}

.navbar {
    background-color: $theme-color !important;
    height: 5rem;
}


.navbar .logo {
    width: 50px;
}

.navbar .container .navbar-nav .nav-link {
    color: #fff;
    border-radius: 20px;
    padding: 0.25rem 0.5rem;
}

.navbar .container .navbar-nav .nav-link.active {
    background-color: #fff !important;
    color: $theme-color !important;
}

.nav-login {
    float: right
}

.cursor-pointer {
    cursor: pointer;
}

.user {
    position: relative;
}

.user:hover {
    display: block;
    color: $theme-color-second;
}

.user:hover .user-more {
    display: block;
}

.user-more {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0px);
    min-width: 150px;
    padding: 0px 0px;
    border: solid $theme-color-second 1px;
    border-radius: 4px;
    list-style-type: none;
    background-color: $theme-color-fourth;
}

.user-more::before {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid transparent;
}


.user-more li {
    padding: 8px;
}

.user-more li:hover {
    background-color: $theme-color-third;
}

.user-more li:hover a {
    color: $theme-color;
}

.user-more li a {
    text-decoration: none;
    color: #000;
}