<app-header></app-header>

<div class="container">
    <div class="intro-section text-start">
        <h1>Đơn hàng</h1>
    </div>
    <form action="" [formGroup]="orderForm" class="">
        <div class="row">
            <div class="col-md-6">
                <h2 class="product-header">Thông tin người nhận</h2>
                <div class="info-receiver p-3">   
                    <div class="mb-3">
                        <label for="fullname" class="form-label">Họ và tên</label>
                        <input type="text" formControlName="fullname" id="fullname" class="form-control"
                            [class.is-invalid]="orderForm.get('fullname')!.invalid && orderForm.get('fullname')!.touched">
                        <div *ngIf="orderForm.get('fullname')!.invalid && orderForm.get('fullname')!.touched"
                            class="invalid-feedback">
                            Chưa nhập họ và tên
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" formControlName="email" id="email" class="form-control"
                            [class.is-invalid]="orderForm.get('email')!.invalid && orderForm.get('email')!.touched">
                        <div *ngIf="orderForm.get('email')!.invalid && orderForm.get('email')!.touched"
                            class="invalid-feedback">
                            Chưa đúng định dạng Email
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="phone_number" class="form-label">Số điện thoại</label>
                        <input type="text" formControlName="phone_number" id="phone_number" class="form-control"
                            [class.is-invalid]="orderForm.get('phone_number')!.invalid && orderForm.get('phone_number')!.touched">
                        <div *ngIf="orderForm.get('phone_number')!.invalid && orderForm.get('phone_number')!.touched"
                            class="invalid-feedback">
                            Số điện thoại không hợp lệ
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Địa chỉ</label>
                        <input type="text" formControlName="address" id="address" class="form-control"
                            [class.is-invalid]="orderForm.get('address')!.invalid && orderForm.get('address')!.touched">
                        <div *ngIf="orderForm.get('address')!.invalid && orderForm.get('address')!.touched"
                            class="invalid-feedback">
                            Chưa nhập địa chỉ
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="note" class="form-label">Ghi chú</label>
                        <input type="text" formControlName="note" id="note" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="shipping_method" class="form-label">Phương thức vận chuyển</label>
                        <select formControlName="shipping_method" id="shipping_method" class="form-control shipping_method">
                            <option *ngFor="let shippingMethod of shippingMethods"
                                [value]="shippingMethod.value" >{{ shippingMethod.text }}
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="payment_method" class="form-label">Phương thức thanh toán</label>
                        <select formControlName="payment_method" id="payment_method" class="form-control payment_method">
                            <option *ngFor="let paymentMethod of paymentMethods"
                                [value]="paymentMethod.value"
                                [disabled]="paymentMethod.value=='atm'">{{ paymentMethod.text }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="product-order">Sản phẩm đã đặt hàng</h2>
                <table>
                    <thead>
                        <tr>
                            <th><input type="checkbox" name="" id="" class="form-check-input"></th>
                            <th scope="col" class="text-start">Sản phẩm</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Đơn giá</th>
                            <th scope="col">Tổng giá</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let detailCart of detailCarts">
                            <td><input type="checkbox" name="" id="" class="form-check-input"></td>
                            <td>
                                <div class="product-info">
                                    <img src="{{ detailCart.product.thumbnail }}"
                                    class="product-image" alt="Product Image">
                                    <span class="product-name">{{ detailCart.product.name }}</span>
                                </div>
                            </td>
                            <td>{{ detailCart.cart.quantity }}</td>
                            <td>{{ detailCart.product.price }} $</td>
                            <td>{{ detailCart.amount }} $</td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-start mt-3">
                    <h4 class="header-text text-end total-price">Tổng: {{ orderDTO.total_money }} $</h4>
                </div>
                <div class="text-end mt-3">
                    <button class="btn btn-gradient" type="button"
                        (click)="createOrder()"
                        [disabled]="orderForm.invalid">Đặt hàng</button>
                </div>
            </div>
        </div>
    </form>
</div>

<app-footer></app-footer>