<app-header></app-header>

<div class="container">
    <div class="intro-section text-start">
        <h1>Trang chủ</h1>
    </div>

    <div class="row">
        <div class="search-box col-12">
            <input type="text" name="" id="" class="form-control search-input w-75" placeholder="Tìm sản phẩm"
                [(ngModel)]="search">
            <select name="" id="" class="form-control product-category"
                [(ngModel)]="selectedCategory">
                <option value="0" selected>Tất cả</option>
                <ng-container *ngFor="let category of categories">
                    <option value="{{ category.id }}">{{ category.name }}</option>
                </ng-container>
            </select>
            <button class="btn ms-2 search" (click)="searchProducts()">Tìm kiếm</button>
        </div>
    </div>
    <div class="row">
        <ng-container *ngFor="let product of products">
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="produc-item">
                    <img alt="Product Image" class="produc-image"
                        src="{{ product.thumbnail }}"
                        routerLink="/product_details/{{ product.id }}">
                    <h4 class="product-name" routerLink="/product_details/{{ product.id }}">{{ product.name }}</h4>
                    <p class="product-description">{{ product.description }}</p>
                    <p class="product-warranty">Bảo hành: 12 tháng</p>
                    <p class="product-price">
                        Giá: 
                        <!-- <del>200$</del> -->
                         {{ product.price }}$</p>
                    <div class="product-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <div class="product-actions">
                        <button class="btn add-cart">Thêm vào giỏ hàng</button>
                        <span class="space-x"></span>
                        <button class="btn buy-now">Mua ngay</button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
<div class="mt-5">
    <ul class="pagination justify-content-center">
        <li class="page-item"
            [class.disabled]="currentPage <= 1"
            (click)="onPageChange(1)">
            <a href="#" class="page-link mx-1 rounded"><i class="fa-solid fa-backward-step"></i></a>
        </li>
        <li class="page-item"
            [class.disabled]="currentPage <= 1"
            (click)="onPageChange(currentPage-1)">
            <a href="#" class="page-link mx-1 rounded"><i class="fa-solid fa-caret-left"></i></a>
        </li>
        <ng-container *ngFor="let page of visiblePages">
            <li class="page-item"
                [class.active]="page == currentPage"
                (click)="onPageChange(page)">
                <a href="#" class="page-link mx-1 rounded">{{ page }}</a>
            </li>
        </ng-container>
        <li class="page-item"
            [class.disabled]="currentPage >= totalPages"
            (click)="onPageChange(currentPage + 1)">
            <a href="#" class="page-link mx-1 rounded"><i class="fa-solid fa-caret-right"></i></a>
        </li>
        <li class="page-item"
            [class.disabled]="currentPage >= totalPages"
            (click)="onPageChange(totalPages)">
            <a href="#" class="page-link mx-1 rounded"><i class="fa-solid fa-forward-step"></i></a>
        </li>
    </ul>
</div>
<app-footer></app-footer>