@import "../../../styles.scss";

.intro-section {
    text-align: center;
    color: $theme-color;
    padding: 20px;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.product-category {
    width: 200px;
    border: 1px solid $theme-color;
}

.search-input {
    width: 300px;
    background-color: #fff;
    margin-right: 10px;
    border-color: $theme-color;
    color: #000;
}

.btn.search {
    background-color: $theme-color;
    color: #fff;
}

.form-control {
    background-color: #fff;
    color: #000;
}

.form-control::placeholder {
   color: rgb(0,0,0, 0.5);
}

.produc-item {
    background-color: $theme-color-fourth;
    border: 1px solid $theme-color;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    color: #f20;
}

.produc-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-name {
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;;
    min-height: 52px;
}

.product-description {
    color: rgb(173, 178, 203);
    min-height: 76px;
    max-height: 76px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;;
}

.product-warranty {
    color: $theme-color;
}

.product-price {
    color: $theme-color;
}

.product-rating {
    color: #ffee00;
    margin-top: 10px;
}

.product-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.add-cart {
    background-color: $theme-color-third;
    border: 1px solid $theme-color;
    color: $theme-color;
}

.buy-now {
    background-color: $theme-color;
    color: #fff;
}

.space-x {
    margin: 0 5px;
}

.page-item {
    
}

.page-item .page-link {
    background-color: $theme-color-fourth;
    color: $theme-color;
    border-color: $theme-color;
}

.page-item .page-link {
    
}