<app-header></app-header>

<div class="container mt-5">
    <form action=""
        #loginForm="ngForm">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="login-form mx-auto">
                    <h2 class="login-header">Đăng nhập</h2>
                    <div class="form-group">
                        <label for="phone-number">Số điện thoại</label>
                        <input type="text" name="phone-number" placeholder="Nhập số điện thoại" maxlength="10"
                            class="form-control" id="phone-number"
                            [(ngModel)]="phoneNumber"
                            (focus)="loginForm.form.controls['phone-number'].markAsTouched()">
                        <div class="divider-nospace"></div>
                        <p class="text-danger"
                            *ngIf="phoneNumber.length < 9 && phoneNumber.length > 10 && loginForm.form.controls['phone-number'].touched">
                            Số điện thoại phải có 9 đến 10 ký tự
                        </p>
                    </div>
                    <div class="mt-5"></div>
                    <div class="form-group password-field">
                        <label for="password">Mật khẩu</label>
                        <div class="input-group">
                            <input type="password" placeholder="Nhập mật khẩu" name="password"
                                class="form-control" id="password"
                                [(ngModel)]="password"
                                (focus)="loginForm.form.controls['password'].markAsTouched()">
                            <i class="input-group-text password-toggle fa-solid fa-eye bg-transparent border-0"></i>
                        </div>
                        <div class="divider-nospace"></div>
                        <p class="text-danger"
                            *ngIf="password.length < 6 && loginForm.form.controls['password'].touched">
                            Mật khẩu phải có ít nhất 6 ký tự
                        </p>
                    </div>
                    <div class="form-group">
                        <div class="form-check checkbox-text">
                            <span style="display: flex;">
                                <input type="checkbox" name="remember"
                                    class="form-check-input" id="remember"
                                    [(ngModel)]="isRemember">
                                <label for="remember" class="form-check-label text-start">
                                    Ghi nhớ đăng nhập
                                </label>
                            </span>
                            <a href="#" class="register-link">Quên mật khẩu</a>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button"
                            class="login-button"
                            (click)="login()">
                            Đăng nhập
                        </button>
                    </div>
                    <div class="divider"></div>
                    <p class="text-center">Bạn chưa đăng ký? <span>
                        <a routerLink="/register" class="register-link">Tạo tài khoản</a></span>
                    </p>
                </div>
            </div>
        </div> 
    </form>
</div>

<app-footer></app-footer>