<app-header></app-header>

<div class="container">
    <form action=""
        #loginForm="ngForm">
        <div class="row">
            <!-- class "offset-md-3" là căn lề có kích thước 3 cột -->
            <div class="col-md-6 offset-md-3">
                <!-- class "mx-auto" là margin các chiều một cách tự động -->
                <div class="login-form mx-auto">
                    <h2 class="login-header">Đăng nhập</h2>
                    <div class="form-group">
                        <label for="phoneNumber">Phone</label>
                        <input type="text" name="phoneNumber"
                            class="form-control" id="phoneNumber"
                            [(ngModel)]="phoneNumber"
                            (input)="onPhoneNumberChange()"
                            (focus)="loginForm.form.markAsTouched()"
                            >
                        <div class="divider-nospace"></div>
                        <p class="text-danger"
                            *ngIf="phoneNumber.length < 6 && loginForm.form.touched">
                            Phone number phải có ít nhất 6 ký tự
                        </p>
                    </div>
                    <div class="mt-5"></div>
                    <div class="form-group password-field">
                        <label for="password">Mật khẩu</label>
                        <div class="input-group">
                            <input type="password" placeholder="Ít nhất 3 ký tự" name="password"
                                class="form-control" id="password"
                                [(ngModel)]="password"
                                (focus)="loginForm.form.markAsTouched()">
                            <i class="input-group-text password-toggle fa-solid fa-eye bg-transparent border-0"></i>
                        </div>
                        <div class="divider-nospace"></div>
                        <p class="text-danger"
                            *ngIf="password.length < 3 && loginForm.form.touched">
                            Mật khẩu phải có ít nhất 3 ký tự
                        </p>
                    </div>
                    <div class="form-group">
                        <!-- class "form-check" -->
                        <div class="form-check checkbox-text">
                            <span style="display: flex;">
                                <!-- class "form-check-input" làm cho ô checkbox đẹp hơn -->
                                <input type="checkbox" 
                                    class="form-check-input" id="remember">
                                <label for="remember" class="form-check-label text-start">
                                    Ghi nhớ đăng nhập
                                </label>
                            </span>
                            <a href="#" class="register-link">Quên mật khẩu</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <select name="selectedRole" id="" class="form-control access-right"
                            [(ngModel)]="selectedRole">
                            <option value="" selected disabled>Quyền đăng nhập</option>
                            <option *ngFor="let role of roles" [ngValue]="role">{{ role.name }}</option>
                        </select>
                    </div>
                    <button type="button"
                        class="login-button"
                        (click)="login()">
                        Đăng nhập
                    </button>
                    <div class="divider"></div>
                    <p class="text-center">Bạn chưa đăng ký? <span>
                        <a href="#" class="register-link">Tạo tài khoản</a></span>
                    </p>
                </div>
            </div>
        </div> 
    </form>
</div>

<app-footer></app-footer>