/* You can add global styles to this file, and also import other style files */
$theme-color: #ee4d2d;
$theme-color-second: #eda500;
$theme-color-third: #ffe8e3;
$theme-color-fourth: #fef6f5;
$theme-background-color: linear-gradient(#f5f2f2, #fff);
$theme-background-color-smooth: #f5f2f2;

html {
  font-size: 16px;  
}

body {
  background: $theme-background-color;
}