<app-header></app-header>

<!-- class "container" là 1 khung chuẩn, nội dung ở giữa, chừa khoảng trắng 2 bên -->
<!-- class "container-fluid" có nội dung rộng hơn -->
<div class="container">
    <div class="intro-section">
        <h1>Đây là trang home</h1>
        <p>Trang này hiển thị danh sách các sản phẩm, kèm ảnh</p>
        <p>Các bạn có thể chọn xem sản phẩm và mua hàng tại đây</p>
    </div>

    <div class="search-box">
        <!-- class "form-control" làm cho input đẹp hơn -->
        <input type="text" name="" id="" class="form-control search-input" placeholder="Tìm sản phẩm">
        <select name="" id="" class="form-control product-category">
            <option value="" selected disabled>Danh mục sản phẩm</option>
            <option value="">Đồ điện tử</option>
            <option value="">Hải sản</option>
            <option value="">Bánh kẹo</option>
        </select>
    </div>
    <!-- class "row" là hàng -->
    <div class="row">
        <!-- nếu màn hình cửa sổ lớn, thì class "col-lg-" sẽ hoạt động -->
        <!-- nếu màn hình cửa sổ bình thường, thì class "col-md-" sẽ hoạt động -->
        <!-- nếu màn hình cửa sổ bình thường, thì class "col-sm-" sẽ hoạt động -->
        <!-- cửa sổ sẽ được chia ra 12 cột -->
        <!-- class "col-lg-4" là mỗi item chiếm 4 cột, lg là kích thước màn hình cửa sổ lớn => hiển thị 3 sản phẩm -->
        <!-- class "col-md-6" là mỗi item chiếm 6 cột, md là kích thước màn hình cửa sổ bình thường => hiển thị 2 sản phẩm -->
        <!-- class "col-sm-12" là mỗi item chiếm 12 cột, sm là kích thước màn hình cửa sổ nhỏ => hiển thị 1 sản phẩm -->
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="produc-item">
                <img
                    src="https://images.pexels.com/photos/4050426/pexels-photo-4050426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Product Image"
                    class="produc-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque quos fugiat ut dolore impedit laboriosam beatae, harum labore quia magni, incidunt, illo sint dolorum? Quos esse reiciendis voluptates pariatur alias.</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>200$</del> 100$</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="produc-item">
                <img
                    src="https://images.pexels.com/photos/4050426/pexels-photo-4050426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Product Image"
                    class="produc-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque quos fugiat ut dolore impedit laboriosam beatae, harum labore quia magni, incidunt, illo sint dolorum? Quos esse reiciendis voluptates pariatur alias.</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>200$</del> 100$</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="produc-item">
                <img
                    src="https://images.pexels.com/photos/4050426/pexels-photo-4050426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Product Image"
                    class="produc-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque quos fugiat ut dolore impedit laboriosam beatae, harum labore quia magni, incidunt, illo sint dolorum? Quos esse reiciendis voluptates pariatur alias.</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>200$</del> 100$</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="produc-item">
                <img
                    src="https://images.pexels.com/photos/4050426/pexels-photo-4050426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Product Image"
                    class="produc-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque quos fugiat ut dolore impedit laboriosam beatae, harum labore quia magni, incidunt, illo sint dolorum? Quos esse reiciendis voluptates pariatur alias.</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>200$</del> 100$</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="produc-item">
                <img
                    src="https://images.pexels.com/photos/4050426/pexels-photo-4050426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Product Image"
                    class="produc-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque quos fugiat ut dolore impedit laboriosam beatae, harum labore quia magni, incidunt, illo sint dolorum? Quos esse reiciendis voluptates pariatur alias.</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>200$</del> 100$</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>